<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <a asp-action="Index">Главная</a>
            <a asp-action="About">О проекте</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
</body>
</html>
