
@{    
    ViewData["Title"] = "Главная";

}

    <article>
        <section></section>
        <section><a asp-controller="TempolaryInquiry" asp-action="Index" >Создать быструю заявку</a></section>
        <section></section>
    </article>

