
@{
    ViewData["Title"] = "Главная";
}

<h1>Добро пожаловать в сервис по подаче заявок...</h1>
<section>
    <p>Выберете действие:</p>
    <a>Подать заявку</a>
    <a>Стать волонтером</a>
</section>

